
.admin-profile {
    margin-top: 100px;
    text-align: center;
}

.admin-title-big {
    font-size: 48px;
    color: #C2A14D;
    text-shadow: 0 0 10px #C2A14D;
    margin-bottom: 40px;
}

.admin-profile-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.admin-profile-img img {
    width: 250px;
    border-radius: 40px;
    border: 2px solid black;
}

.admin-bio-box {
    width: 400px;
    height: 180px;
    background: orange;
    border-radius: 40px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: maroon;
    padding: 30px;
    text-align: left;
}

.admin-bio-box p {
    font-size: 25px;
}

.admin-social {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.icon a {
   display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: black;
    background-color: #f4a825;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 25);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.icon a:hover {
    color: maroon;
    text-shadow: 0 0 10px maroon;
    transition:  all 0.3s ease;
    transform: translateY(-3px);
}

.btn-admin {
    background-color: maroon;
    color: #f4a825;
    border-radius: 30px;
    padding: 10px 10px;
    box-shadow: 0 4px 10px black;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.btn-admin:hover {
    font-size: 20px;
    padding: 20px 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.5);
    color: #f4a825;
    text-shadow: 0 0 20px #f4a825;
}

@media all and (max-width:900px){
    body{
        flex-direction: column;
        align-items: center;
    }

    .admin-profile-content{
        flex-direction: column;
    }

    .admin-bio-box{
        width: 250px;
    }

    .admin-bio-box p{
        font-size: 20px;
    }
}
